<!DOCTYPE html>
<html lang="en">
<head>
    {% block stylesheets %}
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/main.css" rel="stylesheet">
    {% endblock %}
    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="/assets/js/main.js" ></script>
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>DnD Soundboard Prototype</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/" class="btn-sm btn-primary btn-lg disabled" role="button">Home</a>
            <a href="/track/create" class="btn-sm btn-primary btn-lg disabled" role="button">Add Track</a>
            <hr>
        </div>
    </div>