{{ include('head.twig') }}
{{ include('modal.twig') }}
    <div class="row">
        <div class="col-md-4">
            <img style="margin-top:50px;" src="/assets/images/elf.png" alt="elf">
        </div>
        <div class="col-md-8">
            <h2>Current Tracks</h2>

            <table class="table table-hover">
                <tr><th>Identifier</th><th>Name</th><th></th></tr>
                {% for key,result in results %}
                   <tr>
                       <td>{{ key }}</td>
                       <td>{{ result.name }}</td>
                       <td>
                           <a href="{{ result.url }}" id="{{ key }}" class="btn-sm btn-primary btn-lg play" role="button">Play</a>
                       </td>
                   </tr>
                {% endfor %}

            </table>
        </div>
    </div>
{{ include('foot.twig') }}


