{{ include('head.twig') }}

<div class="row">
    <div class="col-md-4">
        <img style="margin-top:50px;" src="/assets/images/elf.png" alt="elf">
    </div>
    <div class="col-md-8">
        <h2>New track add successfully!</h2>
    </div>
</div>


{{ include('foot.twig') }}