{{ include('head.twig') }}
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="/track/create/new">
                <div class="form-group">
                    <label for="name">Track Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="youtubeId">Youtube Identifier</label>
                    <input type="text" class="form-control" id="youtubeId" name="youtubeId" placeholder="Youtube Identifier">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
{{ include('foot.twig') }}